body {
    background-image: url("https://i.pinimg.com/originals/72/a1/84/72a184aa7846cad0d5a82cf55dc3f406.jpg");
    margin: 0;
}
main {
    margin-bottom: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(6, 6, 8, 0.753);
}
.header-container h1 {
    margin: 10px;
    margin-left: 20px;
    color: white;
}
.nav-bar {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 20px;
}
.nav-bar a {
    margin: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
.section-container {
    margin-top: 50px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.548);
    border: solid black;
    border-radius: 10px;
}
.section-container p {
    font-size: 25px;
    margin-left: 30px;
    color: #ffffff;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(24, 32, 109);
    color: white;
    text-align: center;
    height: 30px;
}