body {
    margin: 0;
    background-image: linear-gradient(to bottom, rgb(1, 1, 99),rgb(32, 9, 134),rgb(103, 20, 124));
    background-size: cover;
    mask-size: ;
}
.header-box {
    display: flex;
    justify-content: space-between;
    background-color: rgba(6, 6, 8, 0.753);
    height: 80px;
    align-items: center;
}
.header-box h1 {
    color: aliceblue;
    margin-left: 20px;
}
.nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.nav a {
    color: aliceblue;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
}
.section-box {
    margin-top: 10px;
    height: 200px;
}
.section-box h2 {
    text-align: center;
    color: aliceblue;
    margin-top: 0;
}
.section-box p {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}
.user-profile {
    display: flex;
    justify-content: center;
}
.user-profile img {
    height: 400px;
    width: auto;
    margin: 20px;
    border-radius: 50%;
}
#footer {
    display:flex;
    bottom: 0;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
    background-color: rgb(5, 15, 37);
    height: 30px;
    align-items: center;
}