body {
    margin: 0;
    background-image: url("https://t3.ftcdn.net/jpg/03/02/04/06/360_F_302040655_IEH9RyDlu7LL8YCLjgL1IskhrpOlmlSv.jpg");
    background-size: cover;
    margin: 0;
}
.header-box {
    display: flex;
    justify-content: space-between;
    background-color: #060608c0;
    height: 80px;
    align-items: center;
}
.header-box h1 {
    color: aliceblue;
    margin-left: 20px;
}
.nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.nav a {
    color: aliceblue;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
}
.section-box {
    margin-top: 10px;
    height: 200px;
}
.section-box h2 {
    text-align: center;
    color: aliceblue;
    margin-top: 0;
}
.section-box p {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}
.user-profile {
    display: flex;
    justify-content: center;
}
.user-profile img {
    height: 400px;
    width: auto;
    margin: 20px;
    border-radius: 50%;
}
#footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(11, 12, 24);
    color: white;
    text-align: center;
    height: 45px;
    justify-content: center;
    align-items: center;
}